.experience-and-perks-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
    "experience-title-container experience-title-container"
    "experience-paragraph-container perks"
    "book-now perks";
    padding:4vw;
    gap: 4vw;
}

.experience-title-container{
grid-area: experience-title-container;
display: flex;
flex-wrap: wrap;
}

.experience-paragraph-container{
    grid-area: experience-paragraph-container;
    width:50%
}

.book-now{
    grid-area: book-now;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/* -----MEDIA ----- */

@media (max-width: 37.5rem){
    .experience-and-perks-container{
        position: relative;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "experience-title-container"
        "experience-paragraph-container"
        "perks"
        "book-now";
        padding:4vw;
        gap: 5vw;
    }

    .experience-title-container{
        grid-area: experience-title-container;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        }
        
        .experience-paragraph-container{
            grid-area: experience-paragraph-container;
            width:100%;
            padding-inline: 3.6vw;
        }
        
        .book-now{
            grid-area: book-now;
            position: absolute;
            bottom: -4vw;
            left: 0vw;
        }

}